Live_busLocation.json
[{"id":"59c24c3b695a5b91","type":"inject","z":"7b1f7dfeab321b2f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":360,"wires":[["badfa45b1775eafa"]]},{"id":"badfa45b1775eafa","type":"http request","z":"7b1f7dfeab321b2f","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://telematics.oasa.gr/api/?act=getBusLocation&p1=2045","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":440,"wires":[["8a3890394e23de9e"]]},{"id":"8a3890394e23de9e","type":"json","z":"7b1f7dfeab321b2f","name":"","property":"payload","action":"","pretty":false,"x":530,"y":440,"wires":[["9422fa13b717973e"]]},{"id":"9422fa13b717973e","type":"function","z":"7b1f7dfeab321b2f","name":"Bus Location","func":"for (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].ROUTE_CODE == '2045') {\n        var lati = msg.payload[i].CS_LAT;\n        var long = msg.payload[i].CS_LNG;\n        var vehicle = msg.payload[i].VEH_NO;\n        var apiKey = global.get(\"googleApiKey\");\n        var dashboard = '<a href=\"https://maps.googleapis.com/maps/api/streetview?size=800x450&location=' + lati + ',' + long + '&fov=100&heading=0&pitch=10&key=' + apiKey + '\" target=\"_blank\" >Bus Location</a>'\n        msg.payload[i] = {\n            name: vehicle,\n            lat: lati, lon: long, icon: \"bus\", iconColor: global.get(\"colorBus\"), url: dashboard\n\n        };\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":440,"wires":[["0eeacedae806ed32","6a90befa746c3069"]]},{"id":"0eeacedae806ed32","type":"worldmap","z":"7b1f7dfeab321b2f","name":"Bus Map","lat":"{{{payload.lat}}}","lon":"{{{payload.lon}}}","zoom":"10","layer":"OSMG","cluster":"0","maxage":"","usermenu":"show","layers":"show","hiderightclick":"false","coords":"none","path":"","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":860,"y":300,"wires":[]},{"id":"6a90befa746c3069","type":"split","z":"7b1f7dfeab321b2f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":870,"y":440,"wires":[["9f4fb5992e35ce53"]]},{"id":"9f4fb5992e35ce53","type":"function","z":"7b1f7dfeab321b2f","name":"filter","func":"var veh_no = msg.payload.name;\nvar old_timestamp = global.get(\"latest_\"+veh_no);\nvar latest_timestamp = msg.payload;\n\nglobal.set(\"latest_\"+veh_no,latest_timestamp);\n\nmsg.payload={};\nmsg.payload.apikey=global.get(\"googleApiKey\");\nmsg.veh_no=veh_no;\nif(old_timestamp!=null){\nmsg.payload.prevLon = old_timestamp.lon;\nmsg.payload.prevLat = old_timestamp.lat;\n\nmsg.payload.curLon = latest_timestamp.lon;\nmsg.payload.curLat = latest_timestamp.lat;\nnode.send(msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":500,"wires":[["918d8d02e5c40549"]]},{"id":"918d8d02e5c40549","type":"http request","z":"7b1f7dfeab321b2f","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins={{{payload.prevLat}}},{{{payload.prevLon}}}&destinations={{{payload.curLat}}},{{{payload.curLon}}}&key={{{payload.apikey}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":870,"y":560,"wires":[["430b926a06d4f0d4"]]},{"id":"430b926a06d4f0d4","type":"json","z":"7b1f7dfeab321b2f","name":"","property":"payload","action":"","pretty":false,"x":830,"y":620,"wires":[["7c52aa880ca514ee"]]},{"id":"7c52aa880ca514ee","type":"function","z":"7b1f7dfeab321b2f","name":"filter ","func":"//Due to google api some data are junk, in this function we remove the trash data\n\nvar street_name = msg.payload.destination_addresses[0];\nvar dist = msg.payload.rows[0].elements[0].distance.value\n\nif(street_name.includes(\"Akti Miaouli\")||dist>=500){\n    \n   \n}else {\n     node.send(msg);\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":700,"wires":[["4a15422b22e5a7f3"]]},{"id":"4a15422b22e5a7f3","type":"function","z":"7b1f7dfeab321b2f","name":"get Distance","func":"var dist_meters = msg.payload.rows[0].elements[0].distance.value;\nvar dist_text = msg.payload.rows[0].elements[0].distance.text;\n\nvar veh_no = msg.veh_no;\nmsg.loc = msg.payload.origin_addresses[0];\n\nmsg.payload={};\nmsg.payload.dist=dist_meters;\nmsg.payload.veh_no=veh_no;\nif(dist_meters==0){\n    msg.payload.text=\"The bus \"+veh_no+\" hasnt moved from \"+msg.loc;\n}\nelse if(dist_meters<=5){\n    msg.payload.text=\"Bus \"+veh_no+\"  has only moved \"+dist_text;\n}else{\n    msg.payload.text=\"The Bus \"+veh_no+\"  is moving, Travelled:\"+dist_text;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":620,"wires":[["3fd8cd598bd4fcbc","0a7bcb366e1c4a72"]]},{"id":"3fd8cd598bd4fcbc","type":"join","z":"7b1f7dfeab321b2f","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":560,"wires":[["d672b19e3b9ea35d"]]},{"id":"d672b19e3b9ea35d","type":"function","z":"7b1f7dfeab321b2f","name":"calc avg bus speed","func":"var latest=msg.payload;\nglobal.set(\"latest\",latest);\nvar total_dist=0;\nvar no_of_vehs=0;\nfor(var i=0;i<latest.length;i++){\n    if(latest[i].dist>0){\n        total_dist =+ latest[i].dist;\n        no_of_vehs++;\n    }\n    \n} \n\ntotal_dist=total_dist/(no_of_vehs);\nmsg.debug = \"avg_dist=\"+total_dist;\nmsg.payload = Math.round( (total_dist /global.get(\"Intervaltime\"))*3.6 * 10 ) / 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":560,"wires":[["949ecaf1d7fc0408","67f01125d816c14a"]]},{"id":"949ecaf1d7fc0408","type":"ui_gauge","z":"7b1f7dfeab321b2f","name":"","group":"ba0073de.3ad04","order":0,"width":0,"height":0,"gtype":"gage","title":"Average Bus speed","label":"km/h","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1570,"y":580,"wires":[]},{"id":"67f01125d816c14a","type":"function","z":"7b1f7dfeab321b2f","name":"check for high average speed","func":"if (msg.payload>45){\n    msg.payload=\"The average speed is high!\";\n    global.set(\"colorBus\",\"green\");\n    msg.topic=\"High average bus speed: \" + msg.payload;\n    node.send(msg);\n}else if(msg.payload>20){\n    global.set(\"colorBus\",\"orange\");\n}else{\n    global.set(\"colorBus\",\"red\");\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":520,"wires":[["7e8453799d9cb061"]]},{"id":"0a7bcb366e1c4a72","type":"function","z":"7b1f7dfeab321b2f","name":"Inform if Bus is not moving","func":"if(msg.payload.dist==0){\n    msg.payload = msg.payload.text;\n    msg.topic = \"The bus \" + msg.veh_no + \" has not moved from \" + msg.loc;\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":660,"wires":[["1dcca0593bb013b4","functionNode1"]]},{"id":"1dcca0593bb013b4","type":"ui_toast","z":"7b1f7dfeab321b2f","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"A Bus didn't move!","name":"","x":1510,"y":660,"wires":[]},{"id":"03abea72408f6c42","type":"inject","z":"7b1f7dfeab321b2f","name":"Initiallize","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":240,"y":240,"wires":[["0fd3b5e9f925dd6c","ea9ac8bc7bf38005","35e467432affe241"]]},{"id":"0fd3b5e9f925dd6c","type":"function","z":"7b1f7dfeab321b2f","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"Esri Satellite\", url:u, opt:o};\nmsg.payload.command.layer = \"Esri Satellite\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["0eeacedae806ed32"]]},{"id":"ea9ac8bc7bf38005","type":"http request","z":"7b1f7dfeab321b2f","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://telematics.oasa.gr/api/?act=webGetStops&p1=2045","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":470,"y":280,"wires":[["3f5310d6d98c4ea7"]]},{"id":"3f5310d6d98c4ea7","type":"json","z":"7b1f7dfeab321b2f","name":"","property":"payload","action":"","pretty":false,"x":510,"y":360,"wires":[["1bf8bea5653bd6a0"]]},{"id":"1bf8bea5653bd6a0","type":"function","z":"7b1f7dfeab321b2f","name":"Bus Stops","func":"for (var i=0;i<msg.payload.length;i++){\n  \n        var lati=msg.payload[i].StopLat;\n        var long=msg.payload[i].StopLng;\n        var stop=msg.payload[i].StopDescrEng;\n        var apiKey = global.get(\"googleApiKey\");\n        var dashboard = '<a href=\"https://maps.googleapis.com/maps/api/streetview?size=800x450&location='+lati+','+long+'&fov=100&heading=0&pitch=10&key='+apiKey+'\" target=\"_blank\">Stop Location</a>'\n        msg.payload[i] = {\n        name:stop, \n        lat:lati, lon:long,icon:\"flag-checkered\",iconColor:\"black\",url:dashboard\n        \n        };\n}\n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":320,"wires":[["0eeacedae806ed32"]]},{"id":"35e467432affe241","type":"function","z":"7b1f7dfeab321b2f","name":"init values","func":"global.set(\"Intervaltime\",15);\nglobal.set(\"googleApiKey\",\"AIzaSyDXUSSrgCZAuOVWbQtX6Y32gH0Pr-VxinI\");\nglobal.set(\"maxDistance\",500);\nglobal.set(\"colorBus\",\"orange\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":160,"wires":[[]]},{"id":"e0e1766081fb22d7","type":"inject","z":"7b1f7dfeab321b2f","name":"delete old events","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"delete from Event WHERE (Minute( NOW() - time) >10 Or Minute(NOW() - time)=null)","payload":"","payloadType":"date","x":190,"y":700,"wires":[["af83f7efe2b39e71"]]},{"id":"38ed7ed8edaa842a","type":"function","z":"7b1f7dfeab321b2f","name":"Send notification to dashboard","func":"msg.topic = 'Auto Delete';\nmsg.payload = 'Deleted old events';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":820,"wires":[["d2e72f697e463641"]]},{"id":"d2e72f697e463641","type":"ui_toast","z":"7b1f7dfeab321b2f","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":490,"y":920,"wires":[]},{"id":"functionNode1","type":"function","z":"7b1f7dfeab321b2f","name":"Prepare Event Data","func":"const filePath = '\\Users\\teror\\Node-Red-Files\\event.json';\n\nmsg.filename = filePath;\nlet events = [];\nlet newEvent = {\n    event: msg.topic,\n    timestamp: new Date().toISOString()\n};\n\nevents.push(newEvent);\nmsg.payload = JSON.stringify(events, null, 2);\nmsg.topic = 'Event saved successfully';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":720,"wires":[["fileWriteNode1"]]},{"id":"fileWriteNode1","type":"file","z":"7b1f7dfeab321b2f","name":"Save events","filename":"\\Users\\teror\\Node-Red-Files\\bus_events.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1370,"y":720,"wires":[[]]},{"id":"5406ef37fd94abfc","type":"file","z":"7b1f7dfeab321b2f","name":"Save Events","filename":"\\Users\\teror\\Node-Red-Files\\bus_events.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1790,"y":640,"wires":[[]]},{"id":"7e8453799d9cb061","type":"function","z":"7b1f7dfeab321b2f","name":"Prepare Event Data","func":"const filePath = '\\Users\\teror\\Node-Red-Files\\event.json';\n\nmsg.filename = filePath;\nlet events = [];\nlet newEvent = {\n    event: msg.topic,\n    timestamp: new Date().toISOString()\n};\n\nevents.push(newEvent);\nmsg.payload = JSON.stringify(events, null, 2);\nmsg.topic = 'Event saved successfully';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":580,"wires":[["5406ef37fd94abfc"]]},{"id":"4e8cd11af220c86f","type":"file","z":"7b1f7dfeab321b2f","name":"Empty File","filename":"\\Users\\teror\\Node-Red-Files\\bus_events.json","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":550,"y":760,"wires":[["38ed7ed8edaa842a"]]},{"id":"af83f7efe2b39e71","type":"function","z":"7b1f7dfeab321b2f","name":"Prepare Event Data","func":"const filePath = '\\Users\\teror\\Node-Red-Files\\event.json';\n\nmsg.filename = filePath;\nlet events = [];\nlet newEvent = {\n    event: \"delete files\",\n    timestamp: new Date().toISOString()\n};\n\nevents.push(newEvent);\nmsg.payload = JSON.stringify(events, null, 2);\nmsg.topic = 'Event saved successfully';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":700,"wires":[["4e8cd11af220c86f"]]},{"id":"ba0073de.3ad04","type":"ui_group","name":"Bus info","tab":"6739fa2a.b5edd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6739fa2a.b5edd4","type":"ui_tab","name":"Home","icon":"dashboard","order":1}]
